/* Sections */
section {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

#home {
  padding: 5rem;
  /* para mag override eto ung naka 5rem, the rest naka 2rem */
  background: linear-gradient(#fdf2f2, #f7e8e8);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Honess', sans-serif;
}

#gallery {
  background: linear-gradient(#f7e8e8, #f8d0d4);
  font-family: 'Honess', sans-serif;
}

#notes {
  background: linear-gradient(#f8d0d4, #f9bbc1);
  font-family: 'Honess', sans-serif;
}

#playlists {
  background-color: #f9bbc1;
  font-family: 'Honess', sans-serif;
}