@import url('https://fonts.cdnfonts.com/css/honess');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Honess', sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 0;
  /* Offset the navbar height */
  overflow-y: auto;
}

.all {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
}